<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>You can grow vegetables even in the city!</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                
            </div>
        </div>
    </div>
</header>
