<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Yes you can grow vegetables even if you live in am apartment with no backyard</h2>
                <h3 class="section-heading">And I want to show you</h3>
                <hr class="primary">
                <br />
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <p class="text-muted">I'm fascinated from small space gardening as I feel this food revolution should start from each of us and most of us right now live in cities.</p>
                <h4>Experiementing with nature</h4>
                <p class="text-muted">I want to show you that are many ways to grow vegetables even in your small space and I want to be the guinea pig for you. I'm building solutions and collect my experience.
                <a href="/projects">My urban projects</a>
                </p>
                <h4>Gardening is much more than growing vegetables</h4>
                <p class="text-muted">Gardening is an opportunity to reconnect with nature and yourself. On this site, I want to share my thoughts and lessons learn from nature that I hope can help you to see things on a different view and maybe spark some inspiration for some positive reflection and action. 
                <a href="/conversation-with-nature">Conversation with nature</a>
                </p>
            </div>
        </div>
    </div>
</section>
