<section class="projects no-padding bg-primary pb64">
    <div class="container">
        <div class="masonry-loader">
            <div class="col-sm-12 text-center">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="row masonry masonryFlyIn">
            <div class="col-sm-4 masonry-item project">
                <div class="image-tile hover-tile text-center">
                    <img src="{{ site.imgurl-proj  | prepend: site.baseurl }}selfwatering/selfwatering.jpg" class="img-responsive background-image" alt="selfwatering">
                    <div class="hover-state">
                        <a href="/projects/selfwatering">
                            <h3 class="uppercase mb8">Self-watering</h3>
                            <h6 class="uppercase">Container</h6>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4 masonry-item project" >
                <div class="image-tile hover-tile text-center">
                    <img src="{{ site.imgurl-proj  | prepend: site.baseurl }}raisedbed/raisedbed.jpg" class="img-responsive background-image" alt="raisedbed">
                    <div class="hover-state">
                        <a href="/projects/raisedbed">
                            <h3 class="uppercase mb8">Raisedbed</h3>
                            <h6 class="uppercase">Outdoor / Backyard</h6>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4 masonry-item project" >
                <div class="image-tile hover-tile text-center">
                    <img src="{{ site.imgurl-proj  | prepend: site.baseurl }}pallet/pallet-garden.jpg" class="img-responsive background-image" alt="pallet">
                    <div class="hover-state">
                        <a href="/projects/pallet-garden">
                            <h3 class="uppercase mb8">Pallet Garden</h3>
                            <h6 class="uppercase">Pallet</h6>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4 masonry-item project">
                <div class="image-tile hover-tile text-center">
                    <img src="{{ site.imgurl-proj  | prepend: site.baseurl }}trellis/trellis.jpg" class="img-responsive background-image" alt="trellis">
                    <div class="hover-state">
                        <a href="/projects/trellis">
                            <h3 class="uppercase mb8">Trellis</h3>
                            <h6 class="uppercase">Vertical Gardening</h6>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    
</section>